@media screen and (max-width: 320px) {

    .skills{
        margin-left: -25px;

    }

    .skillsout {
        margin-top: -7em;
    }

    .skills-content {
        width: 250px;
    }

    .imageskills {
        display: none;
    }
}

@media only screen and (min-width:321px) and (max-width:460px) {


    .skillsout {
        margin-top: -7em;
    }
    .skills {
        margin-left: -25px;
    }

    .skills-content {
        width: 250px;
    }

    .imageskills {
        display: none;
    }

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width:460px) and (max-width:765px) {
    .imageskills {
        display: none;
    }
}